@{
    ViewData["Title"] = "Home Page";
}
@model List<TinTucViewModel>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"></script>
<script src="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<div class="text-center">
    <h1 class="display-4 mt-0">Demo tin tức</h1>
</div>
<div>
    <div class="table-responsive">
        <table id="basic-datatable" class="table table-hover table-centered dt-responsive nowrap w-100 mb-0" style="width: 100%">
            <thead>
                <td></td>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    if (item.TrangThai)
                    {
                        <tr>
                            <td>

                                <a asp-controller="TinTuc" asp-action="XemTinTuc" asp-route-id="@item.IDTinTuc" style="display:inline-block; width: 100%;">
                                    <i class="fas fa-edit text-white"></i>
                                    <img src="@Url.Content(item.HinhAnh)" width="256px" height="192px" class="float-start" />
                                    <div class="float-start m-2">
                                        <p class="fw-bold text-dark">@item.TieuDe</p>
                                        <p class="text-dark">@item.TomTat</p>
                                        <p class="text-dark">Lượt xem: @item.LuotXem</p>
                                    </div>
                                </a>





                            </td>

                        </tr>
                    }
                    
                }
                
            </tbody>
           
        </table>
        <script>
            new DataTable('#basic-datatable');
        </script>
    </div>
    

</div>
@section scripts {
    
}